<div class="modal-header">
    <h5 class="card-title">Document Statistics Based on Their Status:</h5>
</div>
<div class="modal-body">

            <img src="../../../assets/images/Stat.png" class="card-img-top" style="width: 250px;" alt="...">
            <div class="card-body">
                <div class="centered-row">
                    <p class="card-text" *ngFor="let d of data"  (click)="filterByTag(d.type)">
                        {{d.type}}:<small class="text-body-secondary">{{d.value}}</small>
                    </p>
                </div>
            </div>
            <div class="chart" #chartContainer></div>    
        </div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>

