<div class="sidebar">
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/">Home</a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/myLegalDocs">myLegalDocs</a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/services">Services</a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
  